
.central{
    max-width: 600px;
    margin: auto;
}
}

fieldset{
    max-width: 600px;
    margin: auto;
}
#button1{
background-color: rgb(123, 231, 222);
border-radius: 7px;
width: 120px;
height: 30px;
}
#button2{
background-color: rgb(205, 134, 233);
border-radius: 7px;
width: 120px;
height: 30px;
}

